@import url('https://fonts.googleapis.com/css2?family=Signika&family=Ubuntu:wght@400;500;700&display=swap');

* {
    font-family: 'Signika', sans-serif !important;
    font-family: 'Ubuntu', sans-serif !important;
}

/* Home Section */
.home {
    height: 100vh;
    width: 100%;
    background: url(../image/banner-baru.png);
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    background-color: #222;
}

.logo {
    color: white;
    font-size: 20px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: rgb(235, 52, 52);
    transition: 0.5s;
}

.text-banner {
    color: white;
    padding-right: 10%;
    padding-top: 60%;
    padding-left: 10%;
    position: absolute;
}
.text-banner h4 {
    font-size: 27px;
}
.text-banner h1 {
    font-size: 50px;
}
.text-banner h3 {
    font-size: 27px;
}


/* About Section */
.about {
    padding: 30px 25px;
}
section .about-title {
    text-align: center;
    /* padding-top: 60px; */
}
.about-subtitle{
    text-align: center;
    color: rgb(235, 52, 52);
    font-size: 22px;
    font-weight: 600;
}
.about-pic img {
    height: 350px;
    width: 350px;
    border-radius: 6px;
}
.about-pic {
    padding-top: 30px;
}
.about-text {
    padding-top: 8.5%;
}
.text {
    font-size: 23.5px;
    font-weight: 600;
}
.about-text p {
    text-align: justify;
}

/* Projects Section */
.projects {
    background: #222;
    padding: 30px 25px;
}
section .projects-title {
    text-align: center;
    color: white;
}
.projects-subtitle{
    text-align: center;
    color: rgb(235, 52, 52);
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 60px;
}
.btn-projects {
    padding: 25px;
    display: flex;
}
.btn-projects button{
    justify-content: center;
    border-radius: 30px;
    background: transparent;
    border-color: white;
    color: white;
    padding: 12px 30px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.5s;
}
.btn-projects button:hover{
    transform: scale(1.1);
    color: rgb(235, 52, 52);
}

/* Contact */
.contact {
    padding: 30px 25px;
}
section .contact-title {
    text-align: center;
    color: black;
}
.contact-subtitle{
    text-align: center;
    color: rgb(235, 52, 52);
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 60px;
}
.contact-logo a {
    color: black;
    text-decoration: none;
}
.email a:hover {
    color: rgb(235, 52, 52);
}
.whatsapp a:hover {
    color: #25D366;
}
.github a:hover {
    color: black;
}
.instagram a:hover {

}
.youtube a:hover {
    color: #ff0000;
}


/* Footer */
.footer {
    background: #222;
    padding: 30px 25px;
    color: white;
    text-align: center;
}